html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #2d2d2d;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: 700;
  letter-spacing: .25rem;
}

h1 {
  font-weight: 500;
  font-size: 42px;
  margin-top: 0;
}

a {
  color: #fff;
  position: relative;
  text-decoration: none;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.viewport-header {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.file-field {
  display: flex;
  position: relative;
}

.file-field .btn {
  float: left;
  height: 3rem;
  line-height: 3rem;
  margin-right: 1rem;
}

.file-field span {
  cursor: pointer;
}

.file-field input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
}

.file-path-wrapper {
  width: 100%;
}

.progress-field {
  margin-top: 1rem;
}

.error {
  color: red;
}

input {
  background-color: transparent;
  border-bottom: 1px solid #9e9e9e;
  border-color: #fff;
  border-radius: 0;
  border-width: 1px;
  box-shadow: none;
  box-sizing: content-box;
  font-size: 1rem;
  height: 2rem;
  margin: 0 0 15px 0;
  outline: none;
  padding: 8px;
  width: 100%;
}

ul {
  padding-left: 1rem;
}

h3 a,
h4 a {
  color: #2d2d2d;
}

strong a {
  font-size: .9rem;
  text-transform: uppercase;
}

img {
  vertical-align: middle;
  width: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding-left: 0;
  position: absolute;
}

nav li {
  display: inline-block;
}

.bottom-nav {
  bottom: 11px;
  left: 19px;
}

.bottom-nav li {
  margin-right: 43px;
}

.top-nav {
  display: flex;
  align-items: center;
  top: 0;
  right: 19px;
}

.top-nav li {
  align-items: center;
  display: inline-flex;
  margin-left: 46px;
}

.wrapper {
  padding: 11px 20px;
}

.section {
  position: absolute;
}

.hidden {
  border: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 0 !important;
}

.music {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  z-index: 1;
}

.video-controls-wrapper {
  position: absolute;
  bottom: 6vh;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.video-controls {
  border: 1px solid #fff;
  padding: 5px;
  z-index: 1;
}

.video-controls button svg {
  height: 15px;
  width: 15px;
}

.video-controls .mute-button:not(.muted) .is-muted {
  display: none;
}

.video-controls .mute-button.muted .not-muted {
  display: none;
}





.section-about,
.section-waitlist,
.section-contact {
  bottom: 60px;
}

.section-about {
  width: 275px;
}

.section-about p {
  margin: 25px 0 0;
}

.section-waitlist {
  left: 80px;
  width: 200px;
}

.section-waitlist button {
  font-size: 10px;
  padding: 12px 0;
  width: 100%;
}

.section-contact {
  left: 215px;
}

.section-contact a {
  text-decoration: underline;
}

.section-guestbook {
  height: 380px;
  right: 180px;
  top: 48px;
  width: 285px;
}

.close-button {
  float: right;
  padding: 4px 8px;
  text-decoration: none;
  font-size: 16px;
}

.close-button:before {
  content: "X";
  display: block;
}

.section-guestbook ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-guestbook li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
}

.login-button {
  display: block;
  padding: 16px 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.user {
  display: block;
}

.section-submit {
  padding: 10px 15px;
  right: 80px;
  top: 48px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.section-submit label span {
  display: block;
}

.section-share {
  padding: 10px;
  right: 20px;
  top: 45px;
  text-align: right;
}

.fb-share-button.fb_iframe_widget {
  display: block;
  margin-top: 5px;
}

.section-login {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.section-login.hidden {
  display: none;
}

.submit-form {
  padding: 5px 25px 20px;
  width: 350px;
}

.has-border {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  overflow: auto;
}
